/* === GLobal Style === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: #3C3C3C;
}

.wrapper {
    padding: 20px 90px 120px;
}

.container {
    margin: 0 auto;
}


/* GLOBAL STYLE END */

/* HEADER  */

.header {
    position: fixed;
    background: white;
    width: 100vw;
    top: 0;
}


.navmenu {
    width: 100vh;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navmenu__lang {
    margin-right: 50px;
    width: 50px;
    height: 20px;
}

.navmenu__items {
    display: flex;
    align-items: center;

}

.navmenu__links {
    display: flex;
    gap: 10px;
}

.navmenu__items-a {
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;

    mix-blend-mode: normal;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.navmenu__logo-container {
    width: 238px;
    height: 50px;
}



/* HEADER END */

/* SECTION */

.section {
    display: flex;
    margin-top: 70px;
    background-image: url(../img/bg-picture.png);
    background-repeat: no-repeat;

}

.chapter {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.04em;

    color: #000000;

}


.anchors {
    width: 30%;
    height: 462px;
    position: sticky;
    top: 30px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 10px;

    margin-top: -5.5%
}

.anchors__a {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;


    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #000000;

    border-bottom: 2px solid #BDBDBD;
}

.section__chapters {
    width: 70%;
    margin-left: 30px;
    height: 3000px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    /*   background-image: url(../img/bg-picture.png);
    background-repeat: no-repeat; */

}


.chapter__h {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #000000;
}

.line {
    width: 100px;
    height: 8px;

    background: #000000;

    margin-bottom: 20px;
}

.chapter__h:after {
    content: '';
    display: block;
    height: 4px;
    color: black;
}

.chapter__p {
    margin-top: 40px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    /* or 171% */


    color: #000000;
}

.fon {
    background: lightgrey;
}

/* SECTION END */

/* page 2  */

.section-cards {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
}

.section-cards__title {
    margin-bottom: 40px;
    gap: 20px;
    display: flex;
    align-items: flex-start;

}

.cards {
    gap: 30px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray
}

/* page 2 END */